@model IEnumerable<RR_LibraryManagementSystem.DataAccess.Domain.BookDetails>;
@{
    Layout = "AdminLayout/_AdminLayout";

}

<section class="section">
    <div class="section-header">
        <h1>Books</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
            <div class="breadcrumb-item">Book</div>
        </div>
    </div>

    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <a asp-controller="Admin" asp-action="AddBook" class="btn btn-primary text-white">Add Book</a>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Book Name</th>
                                    <th scope="col">Author</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int sn = 1;
                                }

                                @foreach (var @item in Model)
                                {
                                    <tr>
                                        <td scope="col">@sn</td>
                                        <td scope="col">@item.BookName</td>
                                        <td scope="col">@item.Author</td>
                                        <td scope="col">@item.Stock</td>
                                        @if (@item.Status == true)
                                        {
                                            <td scope="col"><span class="badge badge-success">Active</span></td>
                                        }
                                        else
                                        {
                                            <td scope="col"><span class="badge badge-danger">InActive</span></td>
                                        }
                                        <td scope="col">
                                            <span class="btn-group">
                                                <a asp-controller="Admin" asp-action="UpdateBook" asp-route-id=@item.Id class="btn btn-primary text-white">Update</a>
                                                <a asp-controller="Admin" asp-action="DeleteBook" asp-route-id=@item.Id class="btn btn-danger text-white">Delete</a>
                                            </span>

                                        </td>
                                    </tr>
                                    sn++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>